header {
  background-color: #2b4570;
  height: 80px;
}

header h1 {
  font-family: serif;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 0;
}

/* nav{ */
/* background-color: #1C2541; */
}

.card {
  width: 15rem;
}

.navbar {
  text-align: center;a
}

/*nav {
  background-color: #0c7489;
}
*/
.mobile-grid-60, .mobile-grid-100 {
  font-size: 4vw;
}
/*added some border elements */
.grid-60{
 border-left-width: 2px;
 border-left-style: solid;
 border-right-width: 2px;
 border-right-style: solid;
 background-color: #a8d0db;
 margin: -25px;
 padding: 10px;
}

.btn-secondary {
  font-size: 15px;
}

body {
  background-color: #ffffff;
  margin: 0px;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1C2541;
}

nav li {
  float: left;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #0B132B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #0B132B;
}

nav li a {
  display: block;
  color: #87b2e8;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #0B132B;
}



h2, h3, p, h6 {
  font-family: serif;
  padding: 5px;
  color: #0B132B;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 15px;
  margin-left: 15px;
}
h2{
  font-weight: bold;
  font-size: 40px;
  text-align: left;
}

h3{
  margin-top: 20px;
  text-align: left;
}

main p {
  font-size: 20px;

}

hr {
  border-color: #0B132B;
}

.progress{
  height: 20px;
}

.progress-bar p{
  text-align: left;
}


#eng{
  width: 99.202566666%;
}
#ceb{
  width: 89.6478166667%;
}
#swe{
  width: 62.4749166667%;
}
#ger{
  width: 39.2439333333%;
}
#fre{
  width: 35.78155%;
}
#dut{
  width: 33.0188833333%;
}
#rus{
  width: 26.2324166667%;
}
#ita{
  width: 25.9805666667%;
}
#spa{
  width: 25.8527166667%;
}
#pol{
  width: 22.7604166667%;
}
#war{
  width: 21.0628333333%;
}
#vie{
  width: 20.6223%;
}
#jap{
  width: 19.5499833333%;
}
#chi{
  width: 17.9566666667%;
}
#por{
  width: 16.9178666667%;
}
#ara{
  width: 16.0537666667%;
}
#ukr{
  width: 15.69495%;
}
#per{
  width: 11.5887%;
}
#cat{
  width: 10.4248166667%;
}
#ser{
width: 10.4230333333%;
}
